body{
	background: #F0F0F0;
	display: block;
}
.row{
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.container-fluid {
	padding-right: 0px !important;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
}
.form-search{
	border-radius: 28px;
}
.search-wrapper{
	background: #4F5367;
	padding: 18px;
}
.search-btn{
	color: white !important;
	background-color: #93C0E9;
	border: 1px solid #7BD9E6;
	padding: 0px !important;
}
.search-icon{
	position: absolute;
	margin-top: 23px;
	z-index: 2;
	font-size: 25px;
	color: rgb(142, 146, 148);
	margin-left: 7px;
}
.carousel-caption{
	bottom: 255px !important;
	text-align: left !important;
	left: 13% !important;
}
.topic1{
	background: rgba(214, 94, 94, 0.99);
	display: inline-block;
	padding: 6px 12px;
	font-size: 39px !important;
}
.topic2{
	background: rgba(123, 130, 134, 0.6);
	padding: 8px 10px;
	font-size: 20px;
}
.form-spacing{
	padding-left: 45px;
	letter-spacing: 1px;
	font-size: 18px;s
}
.search{
	color: white !important;
	text-decoration: none !important;
	display: inline-block;
	padding: 6px 12px;
}
.search-btn:hover{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}
.navbar-default{
	background-color:#4F5367 !important;
	border-color: #4F5367 !important;
}
.navbar{
	border-radius: 0 !important;
	margin-bottom: 0px !important;
}
.container-fluid>.navbar-header{
	margin-right: 0 !important; 
	margin-left: 0 !important; 
}
.navbar-default .navbar-nav>li>a {
	color: white !important;
}
.item img{
	width: 100%;
	height: 450px !important;
}
.ads img{
	margin: 0 auto;
	display: block;
	width: 70%;
	height: 105px;
}
.ads{
	background: #4F5367;
	padding: 30px;
}


.costum>a {
	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: #4F5367;
    font-family: 'Yanone Kaffeesatz';
    font-weight: 700;
    float: left;
    font-size: 20px;
    display: block;
    padding: 6px 12px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow:0px 9px 0px rgba(42, 42, 58, 1), 0px 9px 25px rgba(0,0,0,.7);
    margin: 10px;
	/*width: 160px;*/
	text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

.costum>a:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}
.catagories-wrapper{
	padding: 20px;
}
.about-us{
	text-align: justify;
	background: rgb(191, 200, 202);
	color: rgb(26, 129, 129);
	padding: 6px;
	min-height: 219px;
	border-radius: 3px;
}
.abt-img img{
	width: 100%;
	height: auto;
}
.abt-wrapper{
	margin-top: 20px;
}
.members{
	margin-top: 0px !important;
	color: rgb(136, 142, 162);
	margin-bottom: 2px !important;
}
.mem{
	background: white;
	padding: 13px;
}
.margin-buttom{
	margin-bottom: 15px;
}
.footer{
	height: 40px;
	background: #333;
	color: rgb(179, 181, 184);
	padding: 10px;
	font-size: 17px;
	/*font-family: cursive;*/
}
.post{
	font-family: cursive;
	color: rgb(218, 139, 95);
}
.desc{
	color:rgb(138, 156, 142);
}
.faq-header{
	background: rgb(97, 121, 133);
	color: white;
	padding: 15px;
	padding-bottom: 70px;
}
.faq-img img{
	width: 100%;
}
.qns{
	background: white;
	padding: 26px;
	margin-top: -55px;
}
.pine{
	float: right;
	margin-right: 27px;
}
.qn{
	background: rgb(46, 57, 78);
	padding: 5px;
	font-size: 21px;
	/* border-radius: 4px; */
	/* margin-bottom: 8px; */
	color: rgb(245, 245, 245);
}
.ans{
	background: rgb(197, 223, 243);
	padding: 10px;
	margin-bottom: 10px;
	color: rgb(76, 97, 111);
}
.contac{
	background: white;
	padding: 15px;
	margin-top: -55px;
}
.form-control{
	border: 1px solid #389CCA !important;
}
.contact-us{
	background: rgb(115, 238, 120);
	color: rgb(99, 92, 92);
	padding: 8px;
	border-radius: 3px;
}
.info{
	background: rgb(250, 146, 49);
	padding: 8px;
	border-radius: 3px;
	color: rgb(119, 112, 112);
}
.btn-modified{
	margin-top: 20px;
	height: 35px;
}